.dropzone {
  border: 2px dashed #ccc;
  border-radius: 10px;

  padding: 20px;
  cursor: pointer;
  text-align: center;
}

.dropzone:hover {
  background-color: #f5f5f5;
}

.icon {
  font-size: 5rem;
}
